<% if signed_in? %>
  <center>
    <div class="list-group">
      <%= render 'shared/feed' %>
  </center>
</div>
<% else %>
  <div class="jumbotron">
    <center>
      <h1>The Weekend</h1>
      <%= render 'shared/signin' %>
    </center>
  </div>
<% end %>