<% provide(:title, 'Search Results') %>
<%= render 'layouts/header' %>
<div id="page">
<div class="index">
  <%= render 'shared/search' %>
  <h1>All users</h1>
  <%= render partial: 'users/user', collection: @users %>
</div>
</div>