<% @week_items.each do |week, weekends| %>
  <div class="list-group-item">
    <div id="title-wrap"><%= week.date %></div>
    <%= render 'shared/feed_item', :weekends => weekends %>
  </div>
<% end %>