<li id="<%= feed_item.id %>">
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="week"><%= feed_item.week %></span>
  <span class="votes"> <%= feed_item.votes.count %> Votes </span>
  </span>
</li>