<div class="weekends">
  <%= render @weekends %>
</div>
<%= link_to 'Load More Weekends', root_path(:page => @weekends.next_page, week: @week.id),
  remote: true, class: "load-more-weekends" if @weekends.next_page %>
