<% weekends.each do |weekend| %>
  <div class="list-group-item">
    <%= link_to weekend.user.name, weekend.user %>
    <div class="votes"> <%= weekend.votes.count %> Votes </div>
    <%= render 'weekends/vote_form', :weekend => weekend %>
    <%= render 'shared/weekend_images', :weekend => weekend %>
  </div>
<% end %>