@import "bootstrap";

/* mixins, variables, etc. */

body{
	padding: 60px;
}

.list-group-item{
	background-color: rgb(224, 224, 224);
	border-color: rgb(192, 192, 192);
}

.navbar {
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

#collapse-button {
	border-color: transparent;
}

#logo {
	color: white;
}

li {
	color: white;
}

#title-wrap {
	background-color: rgb(200, 200, 200);
}