<%= form_for(current_user.votes.find_by(weekend_id: weekend.id), html: { method: :delete }) do |f| %>
  <div><%= f.hidden_field :weekend_id %></div>
  <%= f.submit "Unvote", class: "btn btn-default btn-danger" %>
<% end %>