<div class="list-group-item">
  <div class="week"><%= weekend.week.date %></div>
  <div><%= (weekend.votes.count) %> votes<%= render 'weekends/vote_form', :weekend => weekend %></div>
  <div><%= image_tag weekend.images.first.image.url(:thumb).to_s %></div>
</div>