<footer class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
      <%= link_to "Contact", 'mailto:raditude28@gmail.com', class: "navbar-text" %>
      <p class="navbar-text"> ©2013 The Weekend </p>
  </div>
</footer>