<footer class="navbar navbar-inverse navbar-fixed-bottom">
      <%= link_to "Contact", 'mailto:raditude28@gmail.com', class: "navbar-text" %>
      <p class="navbar-text"> ©2013 The Weekend </p>
</footer>