<footer class="footer">
  <small>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", 'mailto:raditude28@gmail.com' %></li>
      <li> ©2013 The Weekend </li>
    </ul>
  </nav>
</footer>